

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------Nabbar---------------------------*/

.navlinks{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkcyan;
  padding: 1rem 2rem;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
}
.navlinks li{
  list-style: none;
  
}
.navlink{
  text-decoration: none;
  margin: 0 1rem;
  color: whitesmoke;
  font-weight:400;
  font-size: 1.3rem;
}

#logo{
  margin-right: auto;
  color: whitesmoke;
  font-weight: 800;
  font-size: 1.7rem;
}

